<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>

    <style>

    </style>
    <%- include("../compartido/estilos-generales/estilos-generales-component.ejs") %>

</head>
<body>
<% const activeDict={
    "inicio": true,
    "reservacion":false,
    "cliente": false,
    "usuario": false,
    "cancha": false,
    "equipo": false,
    "rol": false,
}%>
<%- include("../compartido/nav-bar/nav-bar-component.ejs",{active:activeDict}) %>

<div class="container">
    <h1>Bienvenido!</h1>
    <form action="/usuario/vista/inicio"
          method="get">
        <div class="form-group">
            <label for="busqueda">Búsqueda:</label>
            <input id="busqueda" type="text" name="busqueda">
        </div>
        <div class="container form-group">
            <button type="submit" class="btn btn-secondary"> Buscar</button>
        </div>
        <div class="container form-group">
            <img src="/cancha.svg" alt="Icono de una cancha">
            <p>0 canchas disponibles</p>
        </div>
    </form>
</div>

<%- include("../compartido/funcionalidad-general/funcionalidad-general-component.ejs") %>
</body>
</html>
